nav {
	height: 10vh;
	width: clamp(768px, 90%, 1200px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2vw;
}

label.logo {
	font-size: calc(var(--unitFont) * 30);
	font-weight: 100;
  	color: var(--black1);
}

.containerList {
	display: flex;
	gap: 1vw;
}

.containerList li a {
	color: var(--black1);
	font-size: calc(var(--unitFont) * 12);
	font-weight: 700;
	padding: 10px 15px;
	border: none;
	outline: none;
}

.priceListLink {
	display: none;
}

.btnMenu {
	background-color: transparent;
	color: var(--black1);
	font-size: 30px;

	display: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.btnMenu:hover {
	background-color: transparent;
}

.btnMenu:active {
	background-color: transparent;
}

.buttonPrice {
	font-size: calc(var(--unitFont) * 12);
	color: var(--white1);
	font-weight: 700;
	padding: 15px 25px;
	text-align: center;

	background-color: var(--pink2);
	cursor: pointer;
	text-decoration: none;
}

.containerContent {
	width: clamp(768px, 90%, 1200px);
	height: 90%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 35% 35% 30%;
}

.containerContent > div {
	width: 100%;
	height: 100%;
}

.section1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4vh;
	padding-inline: 25px;
}

.section1 h2 {
	font-size: calc(var(--unitFont) * 42);
	font-weight: 700;
	color: var(--black1);
}

.section1 p {
	font-size: calc(var(--unitFont) * 14);
	font-weight: normal;
	color: var(--gray1);
}

.section1 button {
	padding: 15px 25px;
	background-color: var(--pink1);
	border: none;
	outline: none;
	cursor: pointer;
}

.section1 button > a {
	font-size: calc(var(--unitFont) * 18);
	color: var(--white1);
	font-weight: normal;
	text-decoration: none;
}

.section2 {
	height: 100%;
	display: flex;
	align-items: flex-end;
}

.section2 img {
	width: 100%;
	object-fit: cover;
}

.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 25px;
	gap: 10px;
}

.section3 > p {
	font-size: calc(var(--unitFont) * 14);
	font-weight: normal;
	color: var(--gray1);
}

.section3 > div {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.section3 h3 {
	font-size: calc(var(--unitFont) * 18);
	font-weight: 700;
	color: var(--black1);
}

.section3 > div > div {
	height: 1px;
	width: 60px;
	border: 1px solid var(--black1);
}

/* tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.containerContent {
		grid-template-columns: 50% 50%;
	}

	.section2 {
		display: none;
	}
}

/* mobiles */
@media screen and (max-width: 768px) {
	nav {
		width: 100%;
		padding-inline: 5vw;
		gap: 5vw;
		justify-content: flex-start;
	}

	.containerContent {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-inline: 8vw;
		padding-block: 2vh 10vh;
		gap: 10vh;
	}

	.section1 {
		gap: 2vh;
	}

	.section2 {
		display: none;
	}

	.section3 {
		gap: 2vh;
	}

	.buttonPrice {
		display: none;
	}

	.priceListLink {
		display: block;
	}

	.btnMenu {
		display: block;
	}

	.containerList {
		position: fixed;
		top: 10vh;

		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;

		padding-top: 2vh;
		gap: 10px;

		transition: all 0.5s;
		background: var(--blackSoft);
	}

	.containerList li {
		height: 6vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.containerList li a {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--white1);
		font-size: calc(var(--unitFont) * 18);
	}

	.closenav {
		left: -100%;
	}
	.opennav {
		left: 0;
	}
}
