.navbar {
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.container {
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.menuIcon {
  display: block;
  cursor: pointer;
}

.navElements {
  position: absolute;
  right: 0;
  top: 60px;
  background-color: #fff;
  width: 0;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.active2 {
  width: 100%;
}

.navElements.active {
  width: 100%;
}

.navElements ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 15px 0;
  gap: 20px;
}

.navElements ul a {
  font-weight: 400;
  color: black;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navElements ul a.active {
  text-decoration: underline;
  color: #2f234f;
}

.logo {
  display: none;
}

@media screen and (min-width: 769px) {
  .menuIcon {
    display: none;
  }

  .navElements {
    position: static;
    width: auto;
    overflow: visible;
  }

  .navElements ul {
    flex-direction: row;
    gap: 20px;
  }

  .logo {
    height: 65%;
    display: block;
    margin-right: 20px;
  }

  .container {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    padding: 0 50px;
  }
}
