.container {
	height: 100%;
	width: 100%;
	padding-block: 5vh;
	gap: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: "#ffffff";
}

.titleInstagram {
	color: "#000000";
	font-size: calc(var(--unitFont) * 24);
}

.gridContainer {
	width: clamp(768px, 90%, 1200px);
	height: 80%;
	padding-inline: 3vw;
	padding-block: 4vh;

	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: row;
	gap: 10px;
	grid-template-areas:
		"insta1 insta1 insta1 insta2 insta2 insta3 insta3 insta4 insta4"
		"insta1 insta1 insta1 insta5 insta5 insta6 insta6 insta7 insta7";

	background-color: var(--white1);
}

.instagramContainer:nth-child(1) {
	grid-area: insta1;
}

.instagramContainer:nth-child(2) {
	grid-area: insta2;
}

.instagramContainer:nth-child(3) {
	grid-area: insta3;
}

.instagramContainer:nth-child(4) {
	grid-area: insta4;
}

.instagramContainer:nth-child(5) {
	grid-area: insta5;
}

.instagramContainer:nth-child(6) {
	grid-area: insta6;
}

.instagramContainer:nth-child(7) {
	grid-area: insta7;
}

.instagramContainer {
	width: 100%;
	height: 100%;
  	border-radius: 10px;
	overflow: hidden;
}

.instagramContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.gridContainer {
		width: 80%;
		height: auto;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, 25vh);
		grid-template-areas:
			"insta1 insta1 insta2 insta2 insta4 insta4"
			"insta1 insta1 insta3 insta3 insta5 insta5"
			"insta7 insta7 insta7 insta6 insta6 insta6";
	}
}

/* mobiles */
@media screen and (max-width: 768px) {
	.container {
		padding-bottom: 0;
	}

	.gridContainer {
		width: 100%;
		height: auto;
		padding-inline: 5vw;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 25vh);
		grid-template-areas:
			"insta1 insta2"
			"insta3 insta4"
			"insta5 insta6"
			"insta7 .";
	}
}