.imageContainerSlider {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, calc(90vh / 3));
  width: 100%;
  overflow: scroll;
}

.cardSliderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardSliderText {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.mainText {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.subtitleText {
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 769px) {
  .imageContainerSlider {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, calc(90vh / 3));
  }
}
