.depositContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.gridItemLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-top: 7px solid #ccc;
  border-left: 7px solid #ccc;
  border-right: 7px solid #ccc;
  box-sizing: border-box; /* Ensures the border is included in the element's total width and height */
}

.gridItemRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-left: 7px solid #ccc;
  border-right: 7px solid #ccc;
  border-bottom: 7px solid #ccc;
  box-sizing: border-box; /* Ensures the border is included in the element's total width and height */
}

.imgDeposit {
  max-width: 381px;
  max-height: 450px;
}

.imageDepositContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageDepositContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.textDepositContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.textDepositContainer p {
  margin: 0;
  line-height: 1.6;
}

@media screen and (min-width: 769px) {
  .depositContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
  }

  .imageDepositContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
  }

  .gridItemLeft {
    border-left: 7px solid #ccc;
    border-top: 7px solid #ccc;
    border-bottom: 7px solid #ccc;
    border-right: 0;
  }

  .gridItemRight {
    border-top: 7px solid #ccc;
    border-right: 7px solid #ccc;
    border-bottom: 7px solid #ccc;
    border-left: 0;
  }
}

@media screen and (min-width: 1025px) {
  .depositContainer {
    grid-template-columns: repeat(2, minmax(0, 500px));
    padding: 20px 120px;
  }
}
