.container {
	width: clamp(1024px, 90%, 1200px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--pink1);
	padding: 8vh 15vw;
	gap: 25px;
}

.title {
	color: var(--white1);
	font-size: calc(var(--unitFont) * 30);
}

.subtitle {
	color: var(--white1);
	font-size: calc(var(--unitFont) * 14);
}

.appointment {
	margin-top: 10px;
	padding: 15px 25px;
	background-color: var(--white1);
	border: none;
	outline: none;
	cursor: pointer;
}

.appointment a {
	font-size: calc(var(--unitFont) * 12);
	color: var(--pink1);
	font-weight: normal;
	text-decoration: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.container {
		width: 100%;
	}
}

/* mobiles */
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		padding: 8vh 6vw;
	}
}
